{% extends "::base.html.twig" %}
{% block title %}locations{% endblock %}
{% block body %}
    <div style="border: 2px solid black; padding: 20px; float: left; horiz-align: center">
    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    <div class="form-group">
        {{ form_label(form.locationId) }}
        {{ form_widget(form.locationId) }}
        {{ form_errors(form.locationId) }}
    </div>
    <div class="form-group">
        {{ form_label(form.date) }}
        {{ form_widget(form.date) }}
        {{ form_errors(form.date) }}
    </div>
    <div class="form-group">
        {{ form_label(form.problem) }}
        {{ form_widget(form.problem) }}
        {{ form_errors(form.problem) }}
    </div>
    <div class="form-group">
        {{ form_label(form.image) }}
        {{ form_widget(form.image) }}
        {{ form_errors(form.image) }}
    </div>
    <div class="form-group">
        {{ form_label(form.finished) }}
        {{ form_widget(form.finished) }}
        {{ form_errors(form.finished) }}
    </div>
    {{ form_end(form) }}
    </div>
{% endblock %}