{% extends "::base.html.twig" %}
{% block title %}locations{% endblock %}
{% block body %}
    <head>
        <link rel="stylesheet" href="../web/css/sizing.css">
    </head>
    <div class="container" style="background-color: #edf0ee">

    <h1>Problemen</h1>
        <hr style="width: 97%; color: gray; height: 2px; background-color: gray" />
        {%  for problemMessage in problemMessages if problemMessages is not empty %}
                <div class="alert alert-danger" style="float:inherit;" role="alert">
                    <p>Problem Id: {{ problemMessage.id }}</p>
                    <p>Date: {{ problemMessage.date|date('Y-m-d') }}</p>
                    <p>Problem: {{ problemMessage.problem}}</p>
                    <p>
                        Finished:
                        {%  if problemMessage.finished == 0 %}
                        False
                        {% else %}
                            True
                        {% endif %}

                    </p>
                    <hr>
                    <img style="width: 300px;" src="{{ asset('uploads/problems/' ~ problemMessage.image) }}">
                    {% if is_granted('ROLE_MGR') %}
                <button>Assign technician</button>
            {%  endif %}
                </div>
        {%  else %}
            <li>No problems found</li>
        {% endfor %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="../locations/addproblem"><button>Add problem</button></a>
        {% endif %}
        </br>
    <h1>Status</h1>
        <hr style="width: 97%; color: gray; height: 2px; background-color: gray" />
        <div class="smaller">
        {%  for statusMessage in statusMessages if statusMessages is not empty %}
            <div class="alert alert-info" role="alert">
                <h2>{{ statusMessage.status}}</h2>
            </div>
        {%  else %}
            <p>No status found</p>
        {% endfor %}
        </div>
    </div>
    </br>
    {% if is_granted('ROLE_TECH') %}
        <div class="container" style="background-color: #edf0ee">
        <h1>Problemen toegekend aan technicus</h1>
        <hr />
            <ul>

                {%  for problemMessage in problemMessages if problemMessages is not empty %}
                    {%  if problemMessage.techId == app.user.id  %}
                        {%  if problemMessage.finished == 0 %}
                    <li>
                        <div class="alert alert-danger" role="alert">
                            <p>{{ problemMessage.problem}}</p>
                        </div>

                    </li>
                    {%  endif %}
                        {% endif %}
                {%  else %}
                    <li>No problems found</li>

                {% endfor %}
            </ul>
    </div>
        {% endif %}

{% endblock %}